html, body {
  width: 100%;
  height: 100%;
  background: rgba(76,76,76,1) no-repeat;
  background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,0.99) 6%, rgba(102,102,102,0.97) 13%, rgba(71,71,71,0.95) 22%, rgba(44,44,44,0.93) 32%, rgba(0,0,0,0.9) 42%, rgba(17,17,17,0.87) 56%, rgba(43,43,43,0.85) 65%, rgba(28,28,28,0.82) 78%, rgba(22,22,22,0.8) 86%, rgba(19,19,19,0.8) 91%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,1)), color-stop(6%, rgba(89,89,89,0.99)), color-stop(13%, rgba(102,102,102,0.97)), color-stop(22%, rgba(71,71,71,0.95)), color-stop(32%, rgba(44,44,44,0.93)), color-stop(42%, rgba(0,0,0,0.9)), color-stop(56%, rgba(17,17,17,0.87)), color-stop(65%, rgba(43,43,43,0.85)), color-stop(78%, rgba(28,28,28,0.82)), color-stop(86%, rgba(22,22,22,0.8)), color-stop(91%, rgba(19,19,19,0.8)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,0.99) 6%, rgba(102,102,102,0.97) 13%, rgba(71,71,71,0.95) 22%, rgba(44,44,44,0.93) 32%, rgba(0,0,0,0.9) 42%, rgba(17,17,17,0.87) 56%, rgba(43,43,43,0.85) 65%, rgba(28,28,28,0.82) 78%, rgba(22,22,22,0.8) 86%, rgba(19,19,19,0.8) 91%);
  background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,0.99) 6%, rgba(102,102,102,0.97) 13%, rgba(71,71,71,0.95) 22%, rgba(44,44,44,0.93) 32%, rgba(0,0,0,0.9) 42%, rgba(17,17,17,0.87) 56%, rgba(43,43,43,0.85) 65%, rgba(28,28,28,0.82) 78%, rgba(22,22,22,0.8) 86%, rgba(19,19,19,0.8) 91%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,0.99) 6%, rgba(102,102,102,0.97) 13%, rgba(71,71,71,0.95) 22%, rgba(44,44,44,0.93) 32%, rgba(0,0,0,0.9) 42%, rgba(17,17,17,0.87) 56%, rgba(43,43,43,0.85) 65%, rgba(28,28,28,0.82) 78%, rgba(22,22,22,0.8) 86%, rgba(19,19,19,0.8) 91%);
  background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(89,89,89,0.99) 6%, rgba(102,102,102,0.97) 13%, rgba(71,71,71,0.95) 22%, rgba(44,44,44,0.93) 32%, rgba(0,0,0,0.9) 42%, rgba(17,17,17,0.87) 56%, rgba(43,43,43,0.85) 65%, rgba(28,28,28,0.82) 78%, rgba(22,22,22,0.8) 86%, rgba(19,19,19,0.8) 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}

.name {
  float: left;
}

.value {
  float: right;
}

.muted {
  opacity: 0.5;
}